.header {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: lightskyblue;
}

.block {
	width: 80%;
}

.top {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
	text-align: center;
	height: 60px;
}

.skills {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border: 1px solid;
	height: 450px;

}
