.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35vh;
	background-color: khaki;

}

.block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid;
	width: 80%;
	height: 20vh;
	font-size: x-large;

}

.button {
	padding: 10px;
	font-size: large;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));
	width: 150px;
	height: 50px;
}
